# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\JavaProjects\Udemy\SpringAndHibernateForBeginners\Projects\Spring-HibernateUdemy\Section47-SpringSecurity\spring-security-demo-01-base-app - Copy\.idea/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
# Editor-based HTTP Client requests
/httpRequests/
