<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringAndHibernateUdemyPt2:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringAndHibernateUdemyPt2_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringAndHibernateUdemyPt2/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringAndHibernateUdemyPt2" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="application" name="Spring-5.2.8" />
          <element id="library" level="application" name="Spring MVC-5.2.8" />
        </element>
      </element>
    </root>
  </artifact>
</component>